*
{
    font-family: Inter;
}
body
{
    margin: 0;
    padding: 0;
}
/*------------------------------------------------CSS Tittle------------------------------------------*/
.page-tittle
{
    background-color: #004060;
    padding-block: 4rem;
    border-top: solid black 1px;
    text-align: center;
}
.page-tittle h1
{
    font-size: calc(20px + 1.5vw);
    font-weight: 900;
    font-style: italic;
    color:#E3AC29;
    margin: 0;
}
/*------------------------------------------------CSS Tittle------------------------------------------*/

/*------------------------------------------------CSS List product------------------------------------------*/

.prod-list
{
    padding-block: 1rem;
    padding-inline: 1rem;
    display: flex; 
    justify-content: space-evenly;
}
.product-linker
{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 175px;
    max-height: 100%;
}
.product-linker a
{
    background-image: linear-gradient(to bottom, #004060 0%, #000 100%);
    cursor: pointer;
    text-decoration:underline;
    color: #E3AC29;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-inline: 1rem;
    padding-block: 1rem;
    margin: 0;
}
.img-produto
{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 150px;
}
/*------------------------------------------------CSS List product------------------------------------------*/

/*------------------------------------------------CSS P1------------------------------------------*/

.product-1
{
    background-color: #004060;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.img-product
{
    width: 37.91vw;
    height: 28.43vw;
    border-radius: 10px;
}
.text-container
{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.content-upper
{
    display: flex;
    gap: 2rem;
}
.text-tittle p
{
    color: #017434;
    margin: 0;
    font-weight: 900;
}
.text-tittle h1
{
    color: #E3AC29;
    margin: 0;
    font-weight: 900;
    font-size: calc(20px + 1.4vw);
}
.text-contain
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.text-contain p
{
    color: white;
    margin: 0;
    font-size: calc(6px + 1.4vw);
    text-align: justify;
}   
.text-contain :first-child
{
    margin-top: 2rem;
}
.droper-infos
{
    flex-direction: column;
    display: flex;
    gap: 1rem;
}
.product-1-summary
{
    font-size:calc(8px + 1.4vw);
    font-weight: 800;
    color: #E3AC29;
    cursor: pointer;
}
.product-1-details p
{
    font-size: calc(2px + 1.4vw);
    text-align: justify;
    color: white;
    margin-top: 1rem;
}
.product-details
{
    flex-direction: column;
    display: flex;
    gap: 1rem;
}
.product-1-details-deta p
{
    font-size: calc(2px + 1.4vw);
    text-align: justify;
    color: white;
}
.icon-carac
{
    width: 28px;
    height: 28px;
}
.item-list-carac
{
    align-items: center;
    display: flex;
    gap: 0.5rem;
}
.item-list-carac p
{
    margin: 0px;
}
.find-us-contain
{
    padding-block: 1rem ;
    flex-direction: column;
    display: flex;
    gap: 8px;
    align-items: center;
}
.find-us-contain p
{
    color: rgb(227, 172, 41);
    font-size: calc(8px + 1.0vw);
    font-weight: 900;
    padding-block: 8px;
    margin: 0;
}
.find-us-contain a
{
    background-color: #017434;
    padding-block: 8px;
    padding-inline: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 800;
    color: white;
}
@media(max-width:1025px)
{
.content-upper
{
    flex-direction: column;
    align-items: center;
}
.text-tittle
{
    text-align: center;
}
.text-contain :first-child
{
    margin: 0;
}
.prod-list
{
    flex-wrap:wrap;
}
}
/*------------------------------------------------CSS P1------------------------------------------*/
