*{ font-family: Inter; }

body{
    margin: 0;
    padding: 0;
}

main{
    background-color: #F0F0F0;
    margin-inline: 5px;
    margin-block: 25px;
    border-radius: 20px;
    padding-block: 1rem;
    align-items: center;
    flex-direction: column;
    display: flex;
    gap: 5vw;
}
/*--------------PQ ATANI-------------------*/
.tittle
{
    color: #E3AC29;
    font-size: calc(30px + 1.5vw);
    text-align: center;
}
.content-contain
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container
{
    padding: 1rem;
    max-width: 1100px;
    display: flex;
    gap: 2rem;
}
.text-center
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-weight: 500;
    font-style: italic;
    text-align: justify;
    font-size: calc(8px + 1.2vw);
}
.img-1-atani
{
    border-radius: 10px;
    width: 50%;
}
@media (max-width: 769px)
{
.container
{
    align-items: center;
    flex-direction: column;
}
.text-center
{
    width: 100%;
}
.img-1-atani
{
    width: 69.01vw;
    height: 50.78vw;
} 
.container-last-infos
{
    flex-direction: column;
}   
/*--------------PQ ATANI-------------------*/

/*--------------COMO ATANI-------------------*/
}
.container-hwstr
{
    margin: 2rem;
}
.text-hwstr
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-style: italic;
    text-align: justify;
    font-size: calc(8px + 1.2vw);
}
/*--------------COMO ATANI-------------------*/

.Adjust
{
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.last-imgs
{
    width: 100%;
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    align-items: center;
}
.img-4-4
{
    border-radius: 10px;
    max-width: 440px;
    max-width: 460px;
    width: calc(100% - 1vw);
}
.img-obj-fit1
{
    width: calc(100% - 1vw);
    border-radius: 10px;
    max-width: 445px; 
    max-height: 620px;
}
.img-obj-fit2
{
    width: calc(100% - 1vw);
    border-radius: 10px;
    max-width: 450px; 
    max-height: 280px;
}
.img-obj-fit3
{
    width: calc(100% - 1vw);
    border-radius: 10px;
    max-width: 540px; 
    max-height: 380px;
}

.container-last-infos
{
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 1100px;
    display: flex;
    padding: 2rem;
    gap: 2rem;
}
.Border
{
    border-radius: 10px;
    width: 45.49vw;
    height: 26.54vw;
}